doctype
html
    head
        title= title
        link(rel="stylesheet", href="../css/style.css")
        script(src="https://cdn.bootcss.com/require.js/2.3.4/require.min.js")
    
    body
        != yield
        #footer
            p Copyright (c) foobar
        script(src="./../js/main.js")